.flows.json.backup
[{"id":"d26bc9d0.a1ecd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ba267cd1.873f3","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7493e9ee.4b09e8","type":"comment","z":"d26bc9d0.a1ecd8","name":"Node-Red y Git","info":"","x":100,"y":40,"wires":[]},{"id":"2d2ec12e.66ce5e","type":"inject","z":"d26bc9d0.a1ecd8","name":"Encender","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":40,"wires":[["bea9c534.b93178"]]},{"id":"fecfc70a.be5ed8","type":"inject","z":"d26bc9d0.a1ecd8","name":"Apagar","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":180,"wires":[["bea9c534.b93178"]]},{"id":"bea9c534.b93178","type":"mqtt out","z":"d26bc9d0.a1ecd8","name":"","topic":"casa/miHabitación/LED","qos":"","retain":"","broker":"ba267cd1.873f3","x":1170,"y":100,"wires":[]},{"id":"b54c3e42.24b67","type":"mqtt in","z":"d26bc9d0.a1ecd8","name":"","topic":"casa/miHabitación/LED","qos":"2","datatype":"auto","broker":"ba267cd1.873f3","x":920,"y":280,"wires":[["81b3b3ae.9ad74"]]},{"id":"81b3b3ae.9ad74","type":"debug","z":"d26bc9d0.a1ecd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1180,"y":280,"wires":[]}]